{% extends 'base.html' %}

{% block main_menu %}
    {{ block.super }}
{% endblock %}

{% block user_menu %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <div class="container" style="margin-top: 50px;">
        <div>
          <div class="bg-light p-5 rounded">
            <div class="col-sm-8 mx-auto">
              <h1>Добро пожаловать, {{ request.user.username }}!</h1>
              <p>Добро пожаловать на борт! Мы рады видеть вас в системе Django SSO. Здесь вы найдете все необходимые инструменты для управления вашим медицинским профилем, записями на прием и многое другое. Наша платформа разработана с учетом удобства и эффективности, чтобы обеспечить вам максимально комфортный и продуктивный опыт. Не забудьте ознакомиться с последними обновлениями и улучшениями в разделе "Новости клиники".</p>
              <p>В вашем распоряжении - широкий спектр функций, включая доступ к медицинской карте, истории болезней, результатам анализов и многому другому. Мы стремимся предоставить вам все необходимое для эффективного ведения здоровья и благополучия. Если у вас возникнут вопросы или пожелания, наша служба поддержки всегда готова помочь. Пользуйтесь всеми возможностями, которые предлагает наша система, и будьте здоровы!</p>
            </div>
          </div>
        </div>
    </div>
{% endblock %}
